<main class="contenedor">
    <form action="/crear-cuenta" method="post" class="default-form">
        <div class="campo">
            <label for="fullname">Nombre Completo</label>
            <input type="text" id="fullname" name="fullname" placeholder="Ej: Sofía Gutiérrez" />
        </div>
        <div class="campo">
            <label for="email">Correo electrónico</label>
            <input type="email" id="email" name="email" placeholder="Ej: sofia.gutierrez@correo.co" />
        </div>
        <div class="campo">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" placeholder="Ingresa una contraseña" />
        </div>
        <div class="campo">
            <label for="confirm-password">Repetir Contraseña</label>
            <input type="password" id="confirm-password" name="confirmPassword" placeholder="Confirma la contraseña ingresada" />
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a iniciar sesión</a>
        </div>
        <div class="campo centrar-horizontal">
            <input type="submit" value="Crear cuenta" class="btn btn-azul" />
        </div>
    </form>
</main>