<main class="contenedor">
    <form action="/iniciar-sesion" method="post" class="default-form">
        <div class="campo">
            <label for="email">Correo electrónico</label>
            <input type="email" id="email" name="email" placeholder="Ej: sofia.gutierrez@correo.co" />
        </div>
        <div class="campo">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" placeholder="Ingresa una contraseña" />
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a iniciar sesión</a>
            <a href="/reestablecer-password">Reestablecer contraseña</a>
        </div>
        <div class="campo centrar-horizontal">
            <input type="submit" value="Iniciar sesión" class="btn btn-azul" />
        </div>
    </form>
</main>